.PageView {
  background-color: white;
  > .frame {
    padding: 0 10px;
    > h3.caption {
      color: #333;
      > span.star {
        color: red;
      }
    }
    > .toolbar {
      button {
        margin-right: 5px;
      }
    }
    > .table-forms {
      min-height: 300px;
    }
    > .splitter {
      height: 10px;
    }
  }
}

.standard .Modal .PageView .caption {
  background-color: gray;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}