<% var readOnly = (model.data.readOnly == "true") ? "readonly" : ""; %>
<div class="RowFormCheckBoxFieldView <%=model.form.page.id%>_<%=model.form.name%>_<%=model.name%>">
    <input type="checkbox" <%=readOnly%>>
</div>
