<% var readOnly = (model.data.readOnly == "true") ? "readonly" : ""; %>
<div class="RowFormDatePickerFieldView <%=model.form.page.id%>_<%=model.form.name%>_<%=model.name%>">
    <input <%=readOnly%>>
</div>