html.admin {
  height: 100%;
  box-sizing: border-box;
  &.wait, &.wait * {
    cursor: wait !important;
  }
  body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
  }
  body > div {
    height: 100%;
  }
}
p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ApplicationView {
  height: 100%;
  *:focus {
    outline: 0 !important;
  }
  .full {
    height: 100%;
    width : 100%;
  }
  .flex-rows {
    display: flex;
    flex-direction: column;
  }
  .flex-cols {
    display: flex;
    flex-direction: row;
  }
  .flex-min {
    flex-shrink: 0;
  }
  .flex-max {
    flex: auto;
  }
  .place {
    position: relative;
    overflow: hidden;
  }
  .frame  {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /*.layout {
    table-layout: fixed;
  }*/
  /*.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }*/
  .sdi {
    background-color: gray;
  }

}
