.ApplicationView {
  height: 100%;
  font-family: sans-serif;


  /*.flex-cols {
    display: flex;
    flex-direction: row;
  }*/
  /*.flex-min {
    flex-shrink: 0;
  }*/
  /*.layout {
    table-layout: fixed;
  }*/
  /*.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }*/
  .sdi {
    background-color: gray;
  }

}
