.standard .RowFormFileFieldView {
  img {
    width:100%;
    display: block;
  }
  > input {
    width:100%;
  }
  a {
    display: block;
  }
  > div {
    position: relative;
    > .size {
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      color: #eee;
    }
    >.length {
      position: absolute;
      bottom: 0;
      right:0;
      background-color: rgba(0,0,0,0.5);
      color: #eee;
    }
  }
}
