
.Grid2 {
  display: inline-flex;
  flex-direction: column;
  background-color: #b9def0;
}

.Grid2__head {

}

.Grid2__body {
  overflow-y: scroll;
  overflow-x: auto;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;

}

.Grid2__table {
  display: table;
}

.Grid2__row {
  display: table-row;
}

a.Grid2__row {
  text-decoration: none;
  color: inherit;
}

.Grid2__row__hover:hover {
  background-color: #398bce;
}

.Grid2__cell {
  display: table-cell;
  box-sizing: border-box;
  padding: 10px;
}
