.standard button.ButtonWidget {
  border: none;
  background-color: #ddd;
  color: #333;
  padding: 5px 20px;
  border: solid 1px #ddd;
  border-radius: 3px;

  &:hover:not(:active):not([disabled]) {
    background-color: #eee;
  }
  &:active:not([disabled]) {
    background-color: #ccc;
  }

  &[disabled] {
    color: #aaa;
    background-color: #eee;
  }

}
