.TreeWidget {
  cursor: default;
  -moz-user-select: none;
  overflow: auto;
}
.TreeWidget ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.TreeWidget li > ul {
  display: none;
}
.TreeWidget li.opened > ul {
  display: block;
}
.TreeWidget li > div {
  padding: 1px;
}
.TreeWidget li > div.active {
  background-color: #428bca;
  color: white;
}
.TreeWidget .node {
  display: inline-block;
  height: 11px;
  width: 11px;
  background-image: url("/common/img/icon/plusminus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.TreeWidget .leaf {
  display: inline-block;
  height: 11px;
  width: 11px;
}
.TreeWidget .opened > div > span.node {
  background-position: 0 -11px;
}
