@fieldHeight: 20px;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormTextBoxFieldView {
  position: relative;
  &.error > .RowFormTextBoxFieldView__input {
    background-color: #f2dede;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormTextBoxFieldView__input {
  width  : 100%;
  height : @fieldHeight;
  border : none;
  padding: 0 5px;
  font-family: inherit;
  font-weight: inherit;
  font-size  : inherit;
  &[readonly] {
    background-color: lightgoldenrodyellow;
    color           : gray;
  }
  &[disabled] {
    cursor: text;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormTextBoxFieldView__close {
  display   : flex;
  position  : absolute;
  width     : 10px;
  height    : 100%;
  top       : 0;
  right     : 4px;
  cursor    : pointer;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
  &:hover svg line {
    stroke: black;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.debug .RowFormTextBoxFieldView.changed > .RowFormTextBoxFieldView__input {
  background-color: rgb(238, 253, 234);
}
