th.weekend {
    color: red;
}
td, th, table > caption {
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
td {
    background-color: #eee;
}
th {
    background-color: #b9def0;
    font-weight: normal;
}
table > caption {
    background-color: #b9def0;
    padding: 6px;
    cursor: default;
}
caption a:hover {
    background-color: #eee;
    cursor: pointer;
}
th, td {
    padding: 6px;
    text-align: center;
    cursor: default;
}
td.out {
    color: #bbb;
}
td.today {
    border: solid 1px #2aabd2;
}
td.selectable {
    cursor: pointer;
    background-color: #f7e1b5;
}
td.selectable:hover {
    background-color: #afd9ee;
}
