////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Select {
  position: relative;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
input.Select__input {
  cursor: pointer;
  width: 100%;
  padding-right: 20px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Select__icon {
  //background-color: #eee;
  width: 20px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  svg {
    margin: 0 auto;
    width: 10px;
    height: 6px;
    path {
      fill: #aaa
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Select__clear {
  width: 20px;
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    line {
      stroke: black;
    }
  }
  svg {
    margin: 0 auto;
    width: 14px;
    height: 14px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Select__icon_up {
  svg {
    transform: rotate(180deg);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Select__dropdown {
  position: absolute;
  background-color: white;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  box-shadow: 0 0 5px gray;
  //border: 1px solid gray;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Select__item {
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
  &.selected {
    background-color: blue !important;
    color: white !important;
  }
}
