.RowFormDateTimeFieldView {
  > .DropdownDatePicker {
    width: 100%;
  }
}
.standard .RowFormDateTimeFieldView {
  > div > input {
    height      : 20px;
    border-width: 0;
    padding     : 0 5px 0 5px;
  }
  &.changed > div > input {
    background-color: rgb(238, 253, 234);
  }
  &.error > div > input {
    background-color: #f2dede;
  }
}
