.RowFormDateTimeFieldView {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.standard .RowFormDateTimeFieldView {
  > .DropdownDatePicker {
    > input {
      height      : 20px;
      border-width: 0;
      padding     : 0 5px 0 5px;
    }
    &.readOnly > input {
      background-color: lightgoldenrodyellow;
      color: gray;
    }
    &:not(.readOnly) > input {
      cursor: pointer;
    }
  }
  > div {
    > input.TimeBox {
      width       : 100%;
      height      : 20px;
      border-width: 0;
      padding     : 0 5px 0 5px;
    }
    &.readOnly > input {
      background-color: lightgoldenrodyellow;
      color: gray;
    }
  }
  /*&.changed > div > input {
    background-color: rgb(238, 253, 234);
  }
  &.error > div > input {
    background-color: #f2dede;
  }*/
}
