<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms monitor v<%=version%></title>
    <!-- EventEmitter -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- qforms jsx css -->
    <link href="common-jsx.css" rel="stylesheet"/>
    <!-- qforms js -->
    <script src="common.js"></script>
    <script src="common-jsx.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const data = <%- dump %>;
            Helper.createReactComponent(document.querySelector('#root'), MonitorView, {data});
        });
    </script>
</head>
<body>
    <div id="root"></div>
</body>
</html>
