@import "../../../../../style/field";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPasswordFieldView {
  position: relative;
  &.error > .RowFormPasswordFieldView__input {
    background-color: #f2dede;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPasswordFieldView__input {
  width  : 100%;
  height : @fieldHeight;
  border : none;
  padding: 0 40px 0 5px;
  font-family: inherit;
  font-weight: inherit;
  font-size  : inherit;
  &[readonly] {
    background-color: @fieldDisableBackgroundColor;
    color           : gray;
  }
  &[disabled] {
    cursor: text;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPasswordFieldView__close {
  position   : absolute;
  display    : flex;
  align-items: center;
  width      : 10px;
  height     : 100%;
  top        : 0;
  right      : 30px;
  cursor     : pointer;
  visibility : hidden;
  &.visible {
    visibility: visible;
  }
  &:hover svg line {
    stroke: black;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPasswordFieldView__icon {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 20px;
  cursor: pointer;
  svg {
    fill: #aaa;
    width: 18px;
    height: 18px;
  }
  &:hover {
    svg {
      fill: #333;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.debug .RowFormPasswordFieldView.changed > .RowFormPasswordFieldView__input {
  background-color: @fieldDebugChangeBackgroundColor;
}
