////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.EditorFrontHostAppView {
    height: 100%;
    font-family: sans-serif;
    font-size: small;
    display: grid;
    grid-template-columns: 350px 1fr;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.EditorFrontHostAppView__sidebar {
    display: grid;
    grid-template-rows: max-content 1fr 1fr;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.EditorFrontHostAppView__client {
    background-color: #d3d3d3;
}
