////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.EditorFrontHostAppView {
    height: 100%;
    font-family: sans-serif;
    font-size: small;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.EditorFrontHostAppView__sidebar {
    position: fixed;
    top   : 0;
    bottom: 0;
    width : 350px;
    display: grid;
    grid-template-rows: max-content 1fr 1fr;
    .TreeBar {
        padding: 5px;
        background-color: rgb(245,245,245);
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.EditorFrontHostAppView__client {
    position: fixed;
    top   : 0;
    left  : 350px;
    right : 0;
    bottom: 0;
    background-color: #d3d3d3;
    .cm-container {
        > div {
            height: 100%;
        }
    }
}
