////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView {
  background-color: #f0f6ff;
  padding         : 5px;
  font-size       : small;
  width           : 1000px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Modal .RowFormView {
  width: unset;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView__toolbar {
  display : flex;
  grid-gap: 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView__grid {
  display              : grid;
  grid-template-columns: 150px 1fr 24px 150px 1fr 24px;
  grid-row-gap         : 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView__label {
  margin-left  : 5px;
  border-bottom: 1px dotted gray;
  align-items  : start;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView__field {
  border-bottom: 1px dotted gray;
  align-items  : start;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView__error {
  margin-left: 5px;
  align-items: start;
}
