.standard .RowFormTextBoxFieldView {
    > input {
        width       : 100%;
        height      : 20px;
        border-width: 0;
        padding     : 0 5px 0 5px;
        //text-shadow : 1px 1px 1px rgba(255, 255, 255, 0.5);
        box-sizing  : border-box;
    }
    &.changed > input {
        color: blue;
    }
    > input[readonly] {
        background-color: lightgoldenrodyellow;
    }
}
