.PageView {
  background-color: white;
  > .frame__content {
    padding: 0 10px;
    > .table-forms {
      min-height: 300px;
    }
  }
}

.PageView__caption {
  color: #333;
  > span.star {
    color: red;
  }
}

> .PageView__toolbar {
  button {
    margin-right: 5px;
  }
}

.standard .Modal .PageView__caption {
  background-color: #398bce;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
