.PageView {
  background-color: white;
  > .frame__content {
    padding: 0 10px;

    > .toolbar {
      button {
        margin-right: 5px;
      }
    }
    > .table-forms {
      min-height: 300px;
    }
    > .splitter {
      height: 10px;
    }
  }
}

.PageView__caption {
  color: #333;
  > span.star {
    color: red;
  }
}

.standard .Modal .PageView__caption {
  background-color: #398bce;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
