.PageView {
  background-color: white;
  > .frame__content {
    padding: 10px;
    grid-gap: 10px;
  }
}

.PageView__caption {
  margin: 0;
  color: #333;
  > span.star {
    color: red;
  }
}

.PageView__toolbar {
  display: flex;
  grid-gap: 5px;
}

.PageView__table-forms {
  min-height: 300px;
}

.standard {
  .Modal {
    .PageView__caption {
      background-color: #398bce;
      color: white;
      padding: 5px;
    }
  }
}
