.DropdownDatePickerWidget {
  position: relative;
  display: inline-block;
  > input {
    /*background-color: #3498DB;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    /*border: none;*/
    cursor: pointer;
  }
  > div.close {
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    top: 0;
    right: 3px;
    cursor: pointer;
    color: #aaa;
    //font-size: 16px;
    &:hover {
      color: black;
    }
  }
  > table.DatePickerWidget {
    display: none;
    position: absolute;
    z-index: 1;
    &.show {
      display: block;
    }
  }
}
