////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker {
  border-spacing: 0;
  display: none;
  &.visible {
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__caption {
  background-color: #b9def0;
  padding: 6px;
  cursor: default;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__caption-content {
  display: flex;
  justify-content: space-between;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__caption-link {
  visibility: hidden;
  &.enabled {
    visibility: visible;
  }
  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__th {
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  padding: 6px;
  text-align: center;
  cursor: default;
  background-color: #b9def0;
  font-weight: normal;
  &.weekend {
    color: red;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__td {
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  padding: 6px;
  text-align: center;
  cursor: default;
  background-color: white;
  &.out {
    color: #bbb;
  }
  &.today {
    border: solid 1px #2aabd2;
  }
  &.selectable {
    cursor: pointer;
    background-color: #eee;
    &:hover {
      background-color: #ff9e59;
    }
  }
  &.selected {
    background-color: #eea236;
  }
}
