@selectionColor: #398bce;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: white;
  border-spacing: 0;
  display: none;
  padding: 10px;
  &.visible {
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__caption {
  //background-color: #b9def0;
  padding: 6px;
  cursor: default;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__caption-content {
  display: flex;
  justify-content: space-between;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__caption-link {
  visibility: hidden;
  &.enabled {
    visibility: visible;
  }
  &:hover {
    cursor: pointer;
    background-color: @selectionColor;
    svg {
      fill: white;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__th {
  padding: 6px;
  text-align: center;
  cursor: default;
  //background-color: #b9def0;
  font-weight: normal;
  color: #bbb;
  &.weekend {
    color: red;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DatePicker__td {
  padding: 6px;
  text-align: center;
  cursor: default;
  background-color: white;
  border: 1px solid white;
  &.out {
    color: #bbb;
  }
  &.today {
    border: solid 1px @selectionColor;
  }
  &.selectable {
    cursor: pointer;
    //background-color: #eee;
    &:hover {
      color: white;
      background-color: @selectionColor;
    }
  }
  &.selected {
    background-color: #eea236;
  }
  &.highlight {
    background-color: blue;
    color: white;
  }
}
