@import "../../../../../style/field";

.RowFormCheckBoxFieldView {
  height: @fieldHeight;
  > div.CheckBox {
    &.disabled {
      background-color: lightgoldenrodyellow;
    }
  }
  > input.CheckBox {
    display: block;
    margin: 0;
    height: 100%;
    accent-color: var(--accent-color);
    &:not(:disabled) {
      cursor: pointer;
    }
  }
}
