@import "../../../../../style/field";

.RowFormCheckBoxFieldView {
  > div.CheckBox {
    &.disabled {
      background-color: lightgoldenrodyellow;
    }
  }
  > input.CheckBox {
    display: block;
    margin: 0;
    height: @fieldHeight;
    &:not(:disabled) {
      cursor: pointer;
    }
  }
}
