.DropdownDatePicker {
  position: relative;
  display: inline-block;
  &.readOnly > input {
    background-color: lightgoldenrodyellow;
    color: gray;
  }
  &:not(.readOnly) > input {
    cursor: pointer;
  }
  > div.close {
    display: flex;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    right: 4px;
    cursor: pointer;
    &:hover svg line {
      stroke: black;
    }
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
  > table.DatePicker {
    //display: none;
    position: absolute;
    z-index: 1;
    /*&.show {
      display: block;
    }*/
  }
}
