<!DOCTYPE html>
<html class="monitor" lang="en">
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms monitor v<%=version%></title>
    <!-- style -->
    <link href="common/css/common.css" rel="stylesheet"/>
    <link href="css/monitor.css" rel="stylesheet"/>
    <!-- code -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <script src="common/js/common.js"></script>
    <script src="common/js/common-jsx.js"></script>
    <script src="js/monitor-jsx.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const data = JSON.parse(document.querySelector('script[type="application/json"]').textContent);
            console.log('data:', data);
            Helper.createReactComponent(document.querySelector('.monitor__root'), MonitorView, {data});
        });
    </script>
    <!-- data -->
    <script type="application/json"><%-JSON.stringify(response, null, 4)%></script>
</head>
<body class="monitor__body">
    <div class="monitor__root"></div>
</body>
</html>
