<div id="<%=model.getName()%>" class="ApplicationView <%=model.data.theme%>">
    <div class="menu"/>
    <div class="TabWidget">
        <ul></ul>
        <div></div>
    </div>
    <div class="statusbar"/>
</div>
