.DropdownButtonWidget {
  position: relative;
  display: inline-block;
}

.DropdownButtonWidget > button {
  /*border: none;*/
  /*padding: 10px;*/
}

.DropdownButtonWidget > ul {
  position: absolute;
  background-color: #eee;
  width: 100%;
  visibility: hidden;
}

.DropdownButtonWidget.show > ul {
  visibility: visible;
  padding: 0;
  margin: 0;
}

.DropdownButtonWidget > ul > li {
  display: block;
  padding: 10px;
}

.DropdownButtonWidget > ul > li:hover {
  background-color: #afd9ee;
  cursor: pointer;
}
