<div class="full">
    <div class="full flex-rows" style="background-color: #bbb;">
        <div class="flex-min" style="background-color: white;padding: 5px;">
            <button class="btn btn-default btn-xs btnSave">Save</button>
            <div class="btn-group" role="group">
                <button class="btn btn-xs btn-primary btnQuery">query</button>
                <button class="btn btn-xs btn-default btnCountQuery">countQuery</button>
            </div>
        </div>
        <div class="flex-max full" style="overflow: auto;">
            <div class="cm-container full wndQuery" style="display: none;">
                <textarea class="cmQuery"></textarea>
            </div>
            <div class="cm-container full wndCountQuery" style="display: none;">
                <textarea class="cmCountQuery"></textarea>
            </div>
        </div>
    </div>
</div>