.DropdownButton {
  position: relative;
  display: inline-block;

  > button {
    /*border: none;*/
    /*padding: 10px;*/
  }

  &.show > ul {
    visibility: visible;
    padding: 0;
    margin: 0;
  }

  > ul {
    position: absolute;
    background-color: white;
    width: 300%;
    visibility: hidden;

    z-index: 3;

    > li {
      display: block;
      padding: 10px;
      border-bottom: solid 1px lightgrey;
      &:hover {
        background-color: #afd9ee;
        cursor: pointer;
      }
    }

  }
}
