// grid
@gridFontFamily     : sans-serif;
@gridFontSize       : 12px;
@gridFontWeight     : null;
@gridBorderColor    : rgb(124,124,139);
@gridBorderWidth    : 0 1px 1px 1px;
@gridBackgroundColor: white;
@gridMinHeight      : 100px;

// table
@trBorderBottom: 0 solid white;
@tdBorderRight : 1px solid white;

// head
@headTrHeight      : 22px;
@headTrBorderBottom: 0 solid red;
@thColor           : white;
@thBackgroundColor : rgb(124,124,139);
@thPaddingLeftRight: 5px;
@thTextShadow      : none;
@thBackground      : none;
@thTextTransform   : none;

// gap
@headBodyGap: 1px;

// body
@bodyTop                    : @headTrHeight + @headBodyGap;
@bodyTrBorderBottom         : 0 solid #eee;
@bodyTrEvenBackgroundColor  : rgba(243,246,250, 1.0);
@bodyTrBackgroundColorHover : #E1F0FC !important;
@bodyTrActiveBackgroundColor: rgb(200,226,254);
@bodyTrActiveColor          : null;
@tdColor                    : null;
@tdPaddingTopBottom         : 3px;
@tdPaddingLeftRight         : 5px;
@tdTextShadow               : none;
@tdActiveTextShadow         : none;
@tdActiveColor              : white;
@tdActiveBackgroundColor    : rgb(66,139,202);
//@tdEditBackgroundColor    : lightgreen;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid {
  font-family        : @gridFontFamily;
  font-size          : @gridFontSize;
  font-weight        : @gridFontWeight;
  min-height         : @gridMinHeight;
  border-color       : @gridBorderColor;
  border-width       : @gridBorderWidth;
  background-color   : @gridBackgroundColor;
  position           : relative;
  box-sizing         : border-box;
  border-style       : solid;
  //cursor             : default;
  /*user-select        : none;
  -moz-user-select   : none;
  -webkit-user-select: none;
  -ms-user-select    : none;
  -khtml-user-select : none;*/
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__table {
  display        : table;
  width          : 100%;
  border-spacing : 0;
  border-collapse: collapse;
  table-layout   : fixed;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__tr {
  display      : table-row;
  border-bottom: @trBorderBottom;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
a.Grid__tr {
  text-decoration: none;
  color          : inherit;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
a.Grid__tr:hover {
  background-color: @bodyTrBackgroundColorHover;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__td, .Grid__th {
  display       : table-cell;
  //cursor        : default;
  vertical-align: middle;
  &:not(:last-child) {
    border-right: @tdBorderRight !important;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__th {
  padding         : 0 @thPaddingLeftRight;
  background      : @thBackground;
  text-shadow     : @thTextShadow;
  background-color: @thBackgroundColor;
  color           : @thColor;
  text-transform  : @thTextTransform;
  position        : relative;
  background-clip : padding-box; /* prevent hiding border when position: relative */
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__td {
  color      : @tdColor;
  text-shadow: @tdTextShadow;
  padding    : @tdPaddingTopBottom @tdPaddingLeftRight;
  &.active {
    text-shadow     : @tdActiveTextShadow;
    background-color: @tdActiveBackgroundColor;
    > div {
      color           : @tdActiveColor           !important;
      background-color: @tdActiveBackgroundColor !important;
      > a {
        color: white;
      }
      > select {
        color: black;
      }
    }
  }
  /*&.edit {
    color           : inherit;
    cursor          : text;
    background-color: @tdEditBackgroundColor;
  }*/
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid::after {
  content         : "";
  position        : absolute;
  top             : 0;
  right           : 0;
  width           : 16px;
  height          : @headTrHeight;
  background-color: @thBackgroundColor;
  box-sizing      : border-box;
  border-bottom   : @headTrBorderBottom;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__head {
  width     : 100%;
  position  : absolute;
  top       : 0;
  overflow-y: scroll;
  overflow-x: hidden;
  .Grid__tr {
    height: @headTrHeight;
    border-bottom: @headTrBorderBottom;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__resize {
  position        : absolute;
  top             : 0;
  right           : -4px;
  width           : 7px;
  height          : 100%;
  background-color: transparent;
  cursor          : w-resize;
  z-index         : 2;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Grid__body {
  width     : 100%;
  position  : absolute;
  top       : @bodyTop;
  bottom    : 0;
  overflow-y: scroll;
  overflow-x: auto;
  .Grid__tr {
    border-bottom: @bodyTrBorderBottom;
    &.active {
      background-color: @bodyTrActiveBackgroundColor !important;
      color           : @bodyTrActiveColor !important;
      .Grid__td {
        > div {
          color: @bodyTrActiveColor !important;
        }
      }
    }
    &:nth-child(even) {
      background-color: @bodyTrEvenBackgroundColor;
    }
  }
}
