doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    title test
    script(src='/qforms/build/lib/frontend/common/lib/EventEmitter/EventEmitter.min.js')
    script(src='/qforms/build/lib/frontend/common/lib/bluebird/bluebird.min.js')
    script(src='/qforms/build/lib/frontend/common/lib/jquery/jquery-2.1.4.min.js')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/common/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/common/lib/bootstrap/css/bootstrap-theme.min.css')
    script(src='/qforms/build/lib/frontend/common/lib/bootstrap/js/bootstrap.min.js')
    script(src='/qforms/build/lib/frontend/common/lib/ejs/ejs_production.js')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/common/class/all.css')
    script(src='/qforms/build/lib/frontend/common/class/all.js')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/ApplicationController/view/ApplicationView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/CheckBoxFieldController/view/RowFormCheckBoxFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/CheckBoxFieldController/view/TableFormCheckBoxFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/ComboBoxFieldController/view/RowFormComboBoxFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/ComboBoxFieldController/view/TableFormComboBoxFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/DatePickerFieldController/view/RowFormDatePickerFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/DatePickerFieldController/view/TableFormDatePickerFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/FileFieldController/view/RowFormFileFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/ImageFieldController/view/RowFormImageFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/ImageFieldController/view/TableFormImageFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/LabelFieldController/view/RowFormLabelFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/LabelFieldController/view/TableFormLabelFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/LinkFieldController/view/RowFormLinkFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/LinkFieldController/view/TableFormLinkFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/TextAreaFieldController/view/RowFormTextAreaFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/TextAreaFieldController/view/TableFormTextAreaFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/TextBoxFieldController/view/RowFormTextBoxFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/TextBoxFieldController/view/TableFormTextBoxFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FieldController/TextBoxFieldController/view/TreeFormTextBoxFieldView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FormController/RowFormController/view/RowFormView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FormController/TableFormController/view/TableFormView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/FormController/TreeFormController/view/TreeFormView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ModelController/PageController/view/PageView.css')
    link(rel='stylesheet', href='/qforms/build/lib/frontend/viewer/class/Controller/ViewerController/view/ViewerView.css')
    script(src='/qforms/build/lib/frontend/viewer/class/all.js')
    script(src='/qforms/gui/page.js')
    link(rel='stylesheet', href='/qforms/gui/page.css')
body
    .TabWidget.full
        ul
            li
                span Tab1
                span.close ×
            li
                span Tab2
                span.close ×
        div
            div(style='background-color: #94b5c6;')
                br
                br
                div#div1
                    table#form1
                        tbody
                            tr
                                td(style='width: 100px;'): div.label1 Field1
                                td: input.input1(value='value1')
                            tr
                                td(style='width: 100px;'): div.label1 Field2
                                td: input.input1(value='value2')
                            tr
                                td
                                td: button.button1 Button1

                br
                br
                div(style='height: 200px;padding:10px;')
                    #grid.GridWidget.full
                        .head
                            table: tbody: tr
                                td(data-column-name='id', style='width: 100px;')
                                    div ID
                                    span.resize
                                td(data-column-name='first_name', data-view-class='TableFormTextBoxFieldView' style='width: 100px;')
                                    div First Name
                                    span.resize
                                td(data-column-name='last_name', style='width: 100px;')
                                    div Last Name
                                    span.resize
                                td

            div

                    .block