<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms v<%=version%></title>
    <!-- EventEmitter -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- jquery -->
    <script src="lib/jquery/jquery-2.1.4.min.js"></script>
    <!-- bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- qforms css-->
    <link rel="stylesheet" href="jsx.css"/>
    <!-- qforms js-->
    <script src="common.js"></script>
    <script src="jsx.js"></script>
    <script src="app.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // console.log('app/view.ejs DOMContentLoaded');
            const data = <%-JSON.stringify(data, null, 4)%>;
            const ctrl = new HomeController(data);
            ctrl.init();
            ctrl.createView(document.querySelector('#root'));
            // const view = Helper.createReactComponent(document.querySelector('#root'), AppView, {ctrl});

        });
    </script>
</head>
<body>
<div id="root"></div>
</body>
</html>
