<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms v<%=version%></title>
    <!-- EventEmitter -->
    <script src="common/lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="common/lib/react/react.development.js"></script>
    <script src="common/lib/react/react-dom.development.js"></script>
    <!-- jquery -->
    <script src="common/lib/jquery/jquery-2.1.4.min.js"></script>
    <!-- bootstrap -->
    <link href="common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="common/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="common/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- qforms jsx css -->
    <link rel="stylesheet" href="common/jsx/all.css"/>
    <!-- qforms -->
    <!--    <link rel="stylesheet" href="common/class/all.css"/>-->
    <script src="common/class/all.js"></script>
    <link rel="stylesheet" href="home/class/all.css"/>
    <script src="home/class/all.js"></script>
    <!-- jsx js -->
    <script src="common/jsx/ReactComponent/ReactComponent.js"></script>
    <script src="common/jsx/widget/ComboBox/ComboBox.js"></script>
    <script src="common/jsx/view/AppView/AppView.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // console.log('app/view.ejs DOMContentLoaded');
            const data = <%-JSON.stringify(data, null, 4)%>;
            const ctrl = new HomeController(data);
            Helper.createReactComponent(document.querySelector('#root'), AppView, {ctrl});
            ctrl.init();
        });
    </script>
</head>
<body>
<div id="root"></div>
</body>
</html>
