// grid
@gridFontFamily     : arial, sans-serif;
@gridFontSize       : 12px;
@gridBorderColor    : rgb(124,124,139);
@gridBorderWidth    : 0 1px 1px 1px;
@headTdTextShadow   : none;
@headTdBackground   : none;
@gridBackgroundColor: white;

// table
@trBorderBottom: 0px solid white;
@tdBorderRight : 1px solid white;

// head
@headTrHeight         : 22px;
@headTdColor          : white;
@headTdBackgroundColor: rgb(124,124,139);

// block
@blockBackgroundColor: rgb(124,124,139);

// body
@bodyTop                    : 23px;
@bodyTdHeight               : 20px;
@bodyTrEvenBackgroundColor  : rgba(243,246,250, 1.0);
@bodyTdTextShadow           : none;
@bodyTdActiveTextShadow     : none;
@bodyTrActiveBackgroundColor: rgb(200,226,254);
@bodyTdActiveColor          : white;
@bodyTdActiveBackgroundColor: rgb(66,139,202);
@bodyTdEditBackgroundColor  : lightgreen;