.RowFormDatePickerFieldView {
    > .DropdownDatePicker {
        width: 100%;
        > input {
            height      : 20px;
            border-width: 0;
            padding     : 0 5px 0 5px;
        }
        &.readOnly > input {
            background-color: lightgoldenrodyellow;
            color: gray;
        }
        &:not(.readOnly) > input {
            cursor: pointer;
        }
    }
    &.error > div > input {
        background-color: #f2dede;
    }
}

.debug .RowFormDatePickerFieldView.changed > div > input {
    background-color: rgb(238, 253, 234);
}
