.RowFormComboBoxFieldView > select {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
}
.RowFormComboBoxFieldView > select[disabled] {
  background-color: lightgoldenrodyellow;
  border-width: 1px;
}
