<% const readOnly = (model.data.readOnly == "true") ? "readonly" : ""; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().getName()%>_<%=model.getName()%>" class="field RowFormDatePickerFieldView <%=model.getName()%>">
</div>
