@import "../../../../../style/field";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPhoneFieldView {
  position: relative;
  &.error > .RowFormPhoneFieldView__input {
    background-color: #f2dede;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPhoneFieldView__input {
  width  : 100%;
  height : @fieldHeight;
  border : none;
  padding: 0 16px 0 5px;
  font-family: inherit;
  font-weight: inherit;
  font-size  : inherit;
  &[readonly] {
    background-color: @fieldDisableBackgroundColor;
    color           : gray;
  }
  &[disabled] {
    cursor: text;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPhoneFieldView__close {
  display   : flex;
  align-items: center;
  position  : absolute;
  width: 20px;
  height    : 100%;
  top       : 0;
  right: 20px;
  cursor    : pointer;
  visibility: hidden;
  svg {
    margin: 0 auto;
    width: 10px;
    height: 10px;
  }
  &.visible {
    visibility: visible;
  }
  &:hover svg line {
    stroke: black;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormPhoneFieldView__icon {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 20px;
  cursor: pointer;
  svg {
    fill: #aaa;
    width: 18px;
    height: 18px;
  }
  &:hover {
    svg {
      fill: #333;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.debug .RowFormPhoneFieldView.changed > .RowFormPhoneFieldView__input {
  background-color: @fieldDebugChangeBackgroundColor;
}
