<div id="<%=model.getName()%>" class="test <%=model.data.theme%>">
    <table class="DatePickerWidget" cellspacing="0" cellpadding="0">
        <caption>
            <div style="display: flex; justify-content: space-between; /*align-items: center;*/">
                <a class="prev"> < </a>
                <span>caption</span>
                <a class="next"> > </a>
            </div>
        </caption>
        <thead>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th class="weekend">Сб</th>
        <th class="weekend">Вс</th>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        </tbody>
    </table>
</div>
