<div id="<%=model.getName()%>" class="test <%=model.data.theme%>">
    <div class="Menu"/>
    <div id="dropdowndatepicker"/>
    <br><br>
    <table class="DatePickerWidget" cellspacing="0" cellpadding="0">
        <caption>
            <div>
                <a class="prev"> < </a>
                <span></span>
                <a class="next"> > </a>
            </div>
        </caption>
        <thead>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th class="weekend">Сб</th>
        <th class="weekend">Вс</th>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="weekend"></td>
            <td class="weekend"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <div id="dp1" class="DropdownDatePickerWidget">
        <input readonly>
        <div class="close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <line x1="2" y1="2" x2="8" y2="8" stroke="#aaa" stroke-width="1.1" stroke-linecap="round" stroke-miterlimit="10"></line>
                <line x1="8" y1="2" x2="2" y2="8" stroke="#aaa" stroke-width="1.1" stroke-linecap="round" stroke-miterlimit="10"></line>
            </svg>
        </div>
        <table class="DatePickerWidget" cellspacing="0" cellpadding="0">
            <caption>
                <div>
                    <a class="prev"> < </a>
                    <span></span>
                    <a class="next"> > </a>
                </div>
            </caption>
            <thead>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th class="weekend">Сб</th>
            <th class="weekend">Вс</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="dp2" class="DropdownDatePickerWidget">
        <input readonly>
        <div class="close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <line x1="2" y1="2" x2="8" y2="8" stroke="#aaa" stroke-width="1.1" stroke-linecap="round" stroke-miterlimit="10"></line>
                <line x1="8" y1="2" x2="2" y2="8" stroke="#aaa" stroke-width="1.1" stroke-linecap="round" stroke-miterlimit="10"></line>
            </svg>
        </div>
        <table class="DatePickerWidget" cellspacing="0" cellpadding="0">
            <caption>
                <div>
                    <a class="prev"> < </a>
                    <span></span>
                    <a class="next"> > </a>
                </div>
            </caption>
            <thead>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th class="weekend">Сб</th>
            <th class="weekend">Вс</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="weekend"></td>
                <td class="weekend"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <button id="testButton">Test</button>
    <br>
    <br>
    <button id="openModalButton">open modal</button>
    <br>
    <br>
    <div class="DropdownButtonWidget">
        <button>Actions</button>
        <ul>
            <li>Action1</li>
            <li>Action2</li>
            <li>Action3</li>
        </ul>
    </div>
    <br>
    <br>

    <div style="display: flex; justify-content: space-around;">
        <!--<div class="TooltipWidget alert">
            <span class="top"/>
        </div>-->
        <div id="tooltipAlertTop"/>
        <div class="TooltipWidget">
            <div>Right</div>
            <span class="right">Tooltip text</span>
        </div>
        <div class="TooltipWidget">
            <div>Bottom</div>
            <span class="bottom">Tooltip text</span>
        </div>
        <div class="TooltipWidget">
            <div>Left</div>
            <span class="left">Tooltip text</span>
        </div>
    </div>


    <br><br>
    <div id="datepicker"/>
    <br><br>
    <div class="Statusbar"/>



</div>
