@import 'colors';

.Grid {
  font-family        : @gridFontFamily;
  font-size          : @gridFontSize;
  min-height         : 100px;
  position           : relative;
  box-sizing         : border-box;
  border-style       : solid;
  border-color       : @gridBorderColor;
  border-width       : @gridBorderWidth;
  background-color   : @gridBackgroundColor;
  cursor             : default;
  user-select        : none;
  -moz-user-select   : none;
  -webkit-user-select: none;
  -ms-user-select    : none;
  -khtml-user-select : none;

  table {
    width          : 100%;
    border-spacing : 0;
    border-collapse: collapse;
    table-layout   : fixed;
    tr {
      border-bottom: @trBorderBottom;
      td {
        padding: 0;
        cursor : default;
        &:not(:last-child) {
          border-right: @tdBorderRight !important;
        }
        > div {
          overflow: hidden;
        }
      }
    }
  }

  > .head {
    width     : 100%;
    position  : absolute;
    top       : 0;
    overflow-y: scroll;
    overflow-x: hidden;
    tr {
      height: @headTrHeight;
      td {
        background      : @headTdBackground;
        text-shadow     : @headTdTextShadow;
        background-color: @headTdBackgroundColor;
        color           : @headTdColor;
        position        : relative;
        background-clip : padding-box; /* prevent hiding border when position: relative */
        > div {
          text-overflow: ellipsis;
          white-space  : nowrap;
          margin-left  : 5px;
          margin-right : 5px;
        }
        > span.resize {
          position        : absolute;
          top             : 0;
          right           : -4px;
          width           : 7px;
          height          : 100%;
          background-color: transparent;
          cursor          : w-resize;
          z-index         : 1000;
        }
      }
    }
  }

  > .block {
    position        : absolute;
    top             : 0;
    right           : 0;
    width           : 16px;
    height          : @headTrHeight;
    background-color: @blockBackgroundColor;
    box-sizing      : border-box;
  }

  > .body {
    width     : 100%;
    position  : absolute;
    top       : @bodyTop;
    bottom    : 0;
    overflow-y: scroll;
    overflow-x: auto;
    tr {
      height: @bodyTrHeight;
      &.active {
        background-color: @bodyTrActiveBackgroundColor !important;
      }
      &:nth-child(even) {
        background-color: @bodyTrEvenBackgroundColor;
      }
      > td {
        text-shadow: @bodyTdTextShadow;
        &.active {
          text-shadow     : @bodyTdActiveTextShadow;
          background-color: @bodyTdActiveBackgroundColor;
          > div {
            color           : @bodyTdActiveColor           !important;
            background-color: @bodyTdActiveBackgroundColor !important;
            > a {
              color: white;
            }
            > select {
              color: black;
            }
          }
        }
        &.edit {
          color           : inherit;
          cursor          : text;
          background-color: @bodyTdEditBackgroundColor;
        }
      }
    }
  }

}