.RowFormDateTimeFieldView {
  &.datetime {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &.date > .time {
    display: none;
  }
  > .DropdownDatePicker {
    &:not(.readOnly) > input {
      cursor: pointer;
    }
  }
  > .time {
    position: relative;
    > input.TimeBox {
      width       : 100%;
    }
    > .close {
      display: flex;
      position: absolute;
      width: 10px;
      height: 100%;
      top: 0;
      right: 4px;
      cursor: pointer;
      visibility: hidden;
      &:hover svg line {
        stroke: black;
      }
      &.visible {
        visibility: visible;
      }
    }
  }
}
.standard .RowFormDateTimeFieldView {
  > .DropdownDatePicker {
    > input {
      height      : 20px;
      border-width: 0;
      padding     : 0 5px 0 5px;
    }
    &.readOnly > input {
      background-color: lightgoldenrodyellow;
      color: gray;
    }
  }
  > .time {
    border-left: solid 1px #ddd;
    > input.TimeBox {
      height      : 20px;
      border-width: 0;
      padding     : 0 5px 0 5px;
      &:read-only {
        background-color: lightgoldenrodyellow;
        color: gray;
      }
    }
  }
  &.changed > div > input {
    background-color: rgb(238, 253, 234);
  }
  &.error > div > input {
    background-color: #f2dede !important;
  }
}
