body {
    font-family: sans-serif;
    font-size: small;
}
th.weekend {
    color: red;
}

td, th, caption {
    border: solid 1px white;
}
td {
    background-color: #eee;

}
th {
    background-color: #b9def0;
    font-weight: normal;
}
caption {
    background-color: #b9def0;
}
th, td, caption {
    padding: 6px;
    text-align: center;

    cursor: default;
}


td.out {
    color: #bbb;
}
td.today {
    border: solid 1px #2aabd2;
}
td.selectable {
    cursor: pointer;
    background-color: #f7e1b5;
}
td.selectable:hover {
    background-color: #afd9ee;
}
