.SqlDataSourceView {
  .toolbar {
    background-color: white;
    padding: 5px;
  }
  .edit {
    overflow: auto;
    position: relative;
    > div {
      position: absolute;
    }
    .cm-container {
      > div {
        height: 100%;
      }
    }
  }
}