.RowFormDatePickerFieldView {
    &.error > .DropdownDatePicker > input {
        background-color: #f2dede;
    }
}

.RowFormDatePickerFieldView__date-picker {
    width: 100%;
    > input {
        height      : 20px;
        border-width: 0;
        padding     : 0 5px 0 5px;
    }
    &.readOnly > input {
        background-color: lightgoldenrodyellow;
        color: gray;
    }
    &:not(.readOnly) > input {
        cursor: pointer;
    }
}

.debug .RowFormDatePickerFieldView.changed > .DropdownDatePicker > input {
    background-color: rgb(238, 253, 234);
}
