.RowFormDatePickerFieldView {
    &.error .DropdownDatePicker__input {
        background-color: #f2dede;
    }
}

.RowFormDatePickerFieldView__date-picker {
    width: 100%;
    > .DropdownDatePicker__input {
        height      : 20px;
        border-width: 0;
        padding     : 0 5px 0 5px;
        font-family: inherit;
        font-weight: inherit;
        font-size  : inherit;
    }
    &.read-only > .DropdownDatePicker__input {
        background-color: lightgoldenrodyellow;
        color: gray;
    }
    &:not(.read-only) > .DropdownDatePicker__input {
        cursor: pointer;
    }
}

.debug .RowFormDatePickerFieldView.changed .DropdownDatePicker__input {
    background-color: rgb(238, 253, 234);
}
