.MdiApplicationView {
  height: 100%;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: min-content 1fr 20px;

  .flex-rows {
    display: flex;
    flex-direction: column;
  }
  /*.flex-cols {
    display: flex;
    flex-direction: row;
  }*/
  /*.flex-min {
    flex-shrink: 0;
  }*/
  .flex-max {
    flex: auto; // 1 1 auto
  }
  .place {
    position: relative;
    overflow: hidden;
  }
  .frame  {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /*.layout {
    table-layout: fixed;
  }*/
  /*.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }*/
  .sdi {
    background-color: gray;
  }

}
