.RowFormCheckBoxListFieldView {

}

.RowFormCheckBoxListFieldView__checkboxlist {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    display: flex;
    align-items: center;
    > input {
      cursor: pointer;
      margin: 0;
    }
    > label {
      padding: 3px;
      cursor: pointer;
    }
  }
}
