<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms v<%=version%></title>
    <!-- EventEmitter -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- qforms css-->
    <link href="common/css/common.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    <!-- qforms js-->
    <script src="common/js/common.js"></script>
    <script src="common/js/common-jsx.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app-jsx.js"></script>
    <!-- data -->
    <script type="application/json"><%-JSON.stringify(data, null, 4)%></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // console.log('DOMContentLoaded');
            const data = JSON.parse(document.querySelector('script[type="application/json"]').textContent);
            new AppApp(data).init();
        });
    </script>
</head>
<body>
<div id="root"></div>
</body>
</html>
