<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms v<%=version%></title>

    <!-- links -->
    <link href="common/css/common.css" rel="stylesheet"/>
    <link href="app/css/app.css" rel="stylesheet"/>

    <!-- scripts -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <script src="common/js/common.js"></script>
    <script src="common/js/common-jsx.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/app-jsx.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // console.log('DOMContentLoaded');
            const data = JSON.parse(document.querySelector('script[type="application/json"]').textContent);
            new AppApp(data).init();
        });
    </script>
    <script type="application/json"><%-JSON.stringify(data, null, 4)%></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
