<div id="<%=model.getName()%>" class="ApplicationView <%=model.data.theme%>">
    <div class="Menu"/>
    <div class="TabWidget">
        <ul></ul>
        <div></div>
    </div>
    <div class="Statusbar"/>
</div>
