<div id="<%=model.getName()%>" class="ApplicationView <%=model.data.theme%>">
    <div class="Menu"/>
    <div class="TabWidget">
        <ul></ul>
        <div></div>
    </div>
    <div class="StatusbarWidget">
        <div id="lastQueryTime">Last query time: -</div>
    </div>
</div>
