.standard .RowFormDatePickerFieldView {
    > div.DropdownDatePickerWidget {
        width: 100%;
    }
    > div > input {
        width       : 100%;
        height      : 20px;
        border-width: 0;
        padding     : 0 5px 0 5px;
        box-sizing  : border-box;
    }
    &.changed > div > input {
        background-color: rgb(238, 253, 234);
    }
    &.error > div > input {
        background-color: #f2dede;
    }
}
