.PropertyGrid2 {
  background-color: #eee;
  > table {
    background-color: white;
    width: 100%;
    table-layout: fixed;
    > tbody > tr > td {
      border: 1px solid #d3d3d3;
      font-weight: bold;
      > input {
        font-weight: normal;
        border-width: 0;
        outline: none;
        padding-left: 4px;
        width: 100%;
      }
      > select {
        font-weight: normal;
        border-width: 0;
        outline: none;
        padding: 0;
        width: 100%;
      }
    }
  }
}
