////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.editor {
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.editor__body {
  margin: 0;
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.editor__root {
  height: 100%;
}
