.RowFormComboBoxFieldView {
    > select {
        width: 100%;
    }
}
.standard .RowFormComboBoxFieldView {
    > select {
        height          : 20px;
        border-width    : 0;
        padding         : 0;
        background-color: white;
        cursor          : pointer;
        &[disabled] {
            background-color: lightgoldenrodyellow;
            cursor: default;
        }
    }
    &.changed > select {
        background-color: rgb(238, 253, 234);
    }
    &.error > select {
        background-color: #f2dede;
    }
}
