.NewModelView {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  background-color: #eeeeee;
  width: 300px;
  margin: auto;
  padding: 20px;

  input,
  select {
    width: 100%;
  }
}

.NewModelView__header {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.NewModelView__title {
  flex-grow: 1;
}

.NewModelView__body {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.NewModelView__footer {
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 10px;
}
