.Slider {
  position: relative;
  overflow: hidden;
}

.Slider__line {
  display: flex;
  position: absolute;
  transition: left ease 0.5s;
}

.Slider__label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  margin: 0;
}

.Slider__prev {
  position: absolute;
  left: 0;
  bottom: 0;
}

.Slider__next {
  position: absolute;
  right: 0;
  bottom: 0;
}
