.Slider {
  position: relative;
  overflow: hidden;
  background-color: gray;
}

.Slider_image {
  width: 100%;
}

.Slider__label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.Slider__prev {
  position: absolute;
  left: 0;
  bottom: 0;
}

.Slider__next {
  position: absolute;
  right: 0;
  bottom: 0;
}
