.RowFormTextAreaFieldView {
    > textarea {
        width  : 100%;
        display: block;
        border-width: 0;
        padding     : 0 5px 0 5px;
        //text-shadow : 1px 1px 1px rgba(255, 255, 255, 0.5);
        font-size: inherit;
    }

    &.error > textarea {
        background-color: #f2dede;
    }
    > textarea[readonly] {
        background-color: lightgoldenrodyellow;
        color: gray;
    }
}

.debug .RowFormTextAreaFieldView.changed > textarea {
    background-color: rgb(238, 253, 234);
}
