.RowFormFileFieldView {
  img {
    width: 300px;
    display: block;
  }
  > div {
    position: relative;
    font-size: 10px;
    > .size {
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      color: #eee;
    }
    >.length {
      position: absolute;
      bottom: 0;
      right:0;
      background-color: rgba(0,0,0,0.5);
      color: #eee;
    }
  }
}
