.RowFormComboBoxFieldView {
    display: flex;
    > select {
        width: 100%;
    }
}
.standard .RowFormComboBoxFieldView {
    > select {
        height          : 20px;
        border-width    : 0;
        padding         : 0;
        background-color: white;
        cursor          : pointer;
        &[disabled] {
            background-color: lightgoldenrodyellow;
            cursor: default;
        }
    }

    > button {
        height          : 20px;
        border          : none;
        background-color: #ccc;
        &:hover:enabled {
            background-color: #ddd;
        }
        &:active {
            background-color: #bbb;
        }
    }

    &.error > select {
        background-color: #f2dede;
    }
}

.debug .RowFormComboBoxFieldView.changed > select {
    background-color: rgb(238, 253, 234);
}
