<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>QForms monitor v<%=version%></title>
</head>
<body>
<%  const routes = Object.keys(applications);  %>


<%
routes.forEach(route => {
    const application = applications[route];
    const pages = Object.keys(application.pages);
%>
<%=route%>
(<%=pages.join(',')%>)
    <%
});

 %>
</body>
</html>