.NewDatabaseView {

  display: flex;
  flex-direction: column;
  grid-gap: 20px;

  background-color: #eeeeee;
  width: 300px;
  margin: auto;
  padding: 20px;

  input, select {
    width: 100%;
  }

}

.NewDatabaseView__header {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.NewDatabaseView__title {
  flex-grow: 1;
}

.NewDatabaseView__body {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.NewDatabaseView__footer {
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 10px;
}

