////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Password {
  position: relative;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Password__input {
  width: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Password__close {
  position   : absolute;
  display    : flex;
  align-items: center;
  width      : 10px;
  height     : 100%;
  top        : 0;
  right      : 30px;
  cursor     : pointer;
  visibility : hidden;
  &.visible {
    visibility: visible;
  }
  &:hover svg line {
    stroke: black;
  }
}
