.standard .RowFormComboBoxFieldView {
    > select {
        width           : 100%;
        height          : 20px;
        border-width    : 0;
        padding         : 0;
        background-color: white;
        cursor          : pointer;
        &[disabled] {
            background-color: lightgoldenrodyellow;
            cursor: default;
        }
    }
    &.changed > select {
        background-color: rgb(238, 253, 234);
        //color: blue;
    }
    &.error > select {
        background-color: #f2dede;
    }
}
