.TableFormView {
  > div > button {
    margin-top:5px;
  }
  > div > select {
      margin-top:5px;
      vertical-align: middle;
      padding: 2px;
  }
  > .GridWidget {
    margin-top:5px;
  }
  .paging {
    text-align: right;
    display: none;
  }
  .countBlock {
    float: left;margin-top:5px;
  }
}