.DropdownDatePicker {
  position: relative;
}

.DropdownDatePicker__input {
  width: 100%;
}

.DropdownDatePicker__close {
  display: flex;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 4px;
  cursor: pointer;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
  &:hover svg line {
    stroke: black;
  }
}

.DropdownDatePicker__date-picker {
  position: absolute;
  z-index: 2;
}
