////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DropdownDatePicker {
  position: relative;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DropdownDatePicker__input {
  padding-right: 40px !important;
  width: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DropdownDatePicker__icon {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 20px;
  pointer-events: none;
  svg {
    fill: #aaa;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DropdownDatePicker__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 100%;
  top: 0;
  right: 24px;
  cursor: pointer;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
  &:hover svg line {
    stroke: black;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.DropdownDatePicker__date-picker-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .DatePicker {
    font-size: 18px;
    padding: 12px;
  }
  .DatePicker__caption-title {
    padding: 12px;
  }
  .DatePicker__th {
    padding: 8px;
  }
  .DatePicker__td {
    padding: 8px;
  }
}

@media (min-width: 1024px) {
  .DropdownDatePicker__date-picker-container {
    position: absolute;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    background-color: unset;
    display: unset;
    align-items: unset;
    justify-content: unset;

    .DatePicker {
      font-size: 12px;
      padding: 10px;
    }
    .DatePicker__caption-title {
      padding: 10px;
    }
    .DatePicker__th {
      padding: 6px;
    }
    .DatePicker__td {
      padding: 6px;
    }
  }
}
