hr {
    margin: 10px 0;
}
nav {
    margin:0 !important;
}
.error,
.error:focus {
    box-shadow: 0 0 2px red  !important;
    color: red;
}
*:focus {
    outline: 0 !important;
}
.full {
    height: 100%;
    width : 100%;
}
.flex-rows {
    display: flex;
    flex-direction: column;
}
.flex-cols {
    display: flex;
    flex-direction: row;
}
.flex-min {
    flex-shrink: 0;
}
.flex-max {
    flex: auto;
}
.place {
    position: relative;
    overflow: hidden;
}
.frame  {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.layout {
    table-layout: fixed;
}
.overlay {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    > div {
        margin: 200px auto;
        border: solid 1px black;
        background-color: lightblue;
        > div {
            padding: 27px 5px 5px 5px;
            > div {
                padding: 5px;
            }
        }
    }
}

html.wait, html.wait * {
    cursor: wait !important;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-size: small;
    margin: 0;
}

.EditorView {
    height: 100%;

    #sidebar {
        position:fixed;
        top: 0;
        bottom: 0;
        width: 350px;
        #tree-pad {
            height: 30%;
            #tree-bar {
                padding: 5px;
                background-color: rgb(245,245,245);
            }
            #tree {
                .active .green {color:white;}
                .green {color:green;}
                .blue {color:blue;}
                .active .blue  {color:white;}
            }
        }
        #propsTab {
            height: 30%;
        }
    }

    #client {
        position: fixed;
        top:0;
        left: 350px;
        right: 0;
        bottom: 0;
        background-color: #d3d3d3;
        .cm-container {
            > div {
                height: 100%;
            }
        }
    }

}

