@fieldHeight: 22px;

.RowFormTimeFieldView {
  position: relative;
  > input {
    width: 100%;
    height      : @fieldHeight;
    border-width: 0;
    padding     : 0 5px 0 5px;
    font-family: inherit;
    font-weight: inherit;
    font-size  : inherit;
    //text-shadow : 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
  > input[readonly] {
    background-color: lightgoldenrodyellow;
    color: gray;
  }
  > .close {
    display: flex;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    right: 4px;
    cursor: pointer;
    visibility: hidden;
    &:hover svg line {
      stroke: black;
    }
    &.visible {
      visibility: visible;
    }
  }
  &.error > input {
    background-color: #f2dede;
  }
}

.debug .RowFormTimeFieldView.changed > input {
  background-color: rgb(238, 253, 234);
}
