@import "../../../../style/form";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.TableFormView {
  padding: 5px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.TableFormView__toolbar {
  display: flex;
  grid-gap: 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.TableFormView__refresh-button {
  display: flex;
  align-items: center;
}
