.TableFormView {
  .Toolbar2 button {
    margin-top: 5px;
  }
  .GridWidget, .Grid {
    margin-top: 5px;
  }
  .paging {
    text-align: right;
    display: none;
    select {
      margin-top:5px;
      vertical-align: middle;
      padding: 2px;
    }
  }
  .Paging {
    text-align: right;
    select {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      vertical-align: middle;
      padding: 2px;
    }
  }
  .countBlock {
    float: left;
    margin-top: 5px;
  }
}
