@import "../../../style/page";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView {
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__main {
  > .frame__container {
    padding: 10px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__header {
  display: flex;
  align-items: center;
  padding: 10px;
  .PageView__title {
    flex-grow: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Modal .PageView__header {
  border-bottom: 1px solid #eee;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__title {
  margin: 0;
  color: #777;
  font-size: 24px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__star {
  color: red;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__toolbar {
  display: flex;
  grid-gap: 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__table-forms {
  min-height: 300px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__open, .PageView__close {
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #ddd;
  }
}
