.RowFormRadioFieldView {
  height: 22px;
}

.RowFormRadioFieldView__radio {
  height: 100%;
  display: flex;
  align-items: center;
  input {
    margin: 0;
    display: block;
  }
  label {
    padding: 0 10px 0 3px;
    display: block;
  }
  &:not(.readOnly) {
    input, label {cursor: pointer}
  }
}
