////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView {
  > .frame__container {
    padding: 10px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__header {
  display: flex;
  align-items: center;

  .PageView__title {
    flex-grow: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Modal .PageView__header {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__title {
  margin: 0;
  color: #777;
  font-size: 24px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  &:hover {
    line {
      stroke: black;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__star {
  color: red;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__toolbar {
  display: flex;
  grid-gap: 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__table-forms {
  min-height: 300px;
}
