////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView {
  position: relative;
  > .frame__container {
    padding: 10px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  &:hover {
    line {
      stroke: black;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__title {
  margin: 0;
  color: #777;
  font-size: 24px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__star {
  color: red;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__toolbar {
  display: flex;
  grid-gap: 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.PageView__table-forms {
  min-height: 300px;
}
