////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView {
  background-color: #eee;
  padding         : 5px;
  font-size       : small;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView__toolbar {
  display: flex;
  grid-gap: 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormView__form-grid {
  display: grid;
  grid-template-columns: 150px 300px 24px 150px 300px 24px;
  grid-row-gap: 5px;
  > div {
    align-items: start;
    &.label {
      margin-left  : 5px;
      border-bottom: 1px dotted gray;
    }
    &.field {
      border-bottom: 1px dotted gray;
    }
    &.tooltip {
      margin-left: 5px;
    }
  }
}
