@activeColor: rgb(57,139,206);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab2 {
  display: flex;
  flex-direction: column;
  /*background-color: lightcoral;*/
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab2__buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab2__button {
  background-color: #eee;
  margin-right: 1px;
  /*border-radius: 3px 3px 0 0;*/
  cursor: pointer;
  &.active {
    background-color: white;
  }
  > span {
    margin          : 5px 10px 0 10px;
    display         : inline-block;
    max-width       : 300px;
    overflow        : hidden;
    white-space     : nowrap;
    text-overflow   : ellipsis;
    -moz-user-select: none;
  }
  > span.close {
    margin: 3px 10px 3px 0;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab2__page {
  display: none;
  &.active {
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab2.Tab-blue > ul {
  > li {
    border-radius: 3px 3px 0 0;
  }
  > li.active {
    background-color: @activeColor;
    > span {
      color: white;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab2.Tab-blue > div {
  > div {
    box-sizing: border-box;
    border-top: 3px solid @activeColor;
  }
}
