@import "../../../../../style/field";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormDateTimeFieldView {
  &.datetime {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &.date > .time {
    display: none;
  }
  > .DropdownDatePicker {
    &:not(.read-only) > input {
      cursor: pointer;
    }
    > input {
      height      : @fieldHeight;
      border-width: 0;
      padding     : 0 5px 0 5px;
      font-size   : inherit;
    }
    &.read-only > input {
      background-color: @fieldDisableBackgroundColor;
      color: gray;
    }
  }

  &.error > div > input {
    background-color: #f2dede !important;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormDateTimeFieldView__time {
  position   : relative;
  border-left: solid 1px #ddd;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormDateTimeFieldView__time-box {
  width       : 100%;
  height      : @fieldHeight;
  border-width: 0;
  padding     : 0 5px 0 5px;
  font-family: inherit;
  font-weight: inherit;
  font-size  : inherit;
  &:read-only {
    background-color: @fieldDisableBackgroundColor;
    color: gray;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormDateTimeFieldView__time-close {
  display: flex;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 24px;
  cursor: pointer;
  visibility: hidden;
  &:hover svg line {
    stroke: black;
  }
  &.visible {
    visibility: visible;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormDateTimeFieldView__time-icon {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 20px;
  pointer-events: none;
  svg {
    fill: #aaa;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.debug .RowFormDateTimeFieldView.changed > div > input {
  background-color: rgb(238, 253, 234);
}
