@import "../../../../../style/application";
@import "../../../../../style/field";

.RowFormDateTimeFieldView {
  height: @fieldHeight;
  box-sizing: border-box;
  border: 1px solid #bbb;
  &.datetime {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  &.date > .RowFormDateTimeFieldView__time-box {
    display: none;
  }
  &.error {
    border: 1px solid red !important;
  }
  &.error > .RowFormDateTimeFieldView__dropdown-date-picker > .DropdownDatePicker__input {
    //background-color: #f2dede !important;
    color: red;
  }
  &.editable:hover {
    border: 1px solid var(--accent-color);
  }
}

.RowFormDateTimeFieldView__dropdown-date-picker {
  height: 100%;
  > .DropdownDatePicker__input {
    height: 100%;
    border-width: 0;
    padding: 0 5px 0 5px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  &:not(.read-only) > .DropdownDatePicker__input {
    cursor: pointer;
  }
  &.read-only > .DropdownDatePicker__input {
    background-color: @fieldDisableBackgroundColor;
    color: gray;
  }
}

.RowFormDateTimeFieldView__time-box {
  border-left: solid 1px #ddd;
  .TimeBox2__input {
    height: 100%;
    border-width: 0;
    padding: 0 5px 0 5px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    &:read-only {
      background-color: @fieldDisableBackgroundColor;
      color: gray;
    }
  }
}

.debug .RowFormDateTimeFieldView.changed {
  > .RowFormDateTimeFieldView__dropdown-date-picker > .DropdownDatePicker__input {
    background-color: @fieldDebugChangeBackgroundColor;
  }
  //> .RowFormDateTimeFieldView__time > .RowFormDateTimeFieldView__time-box {
  //  background-color: @fieldDebugChangeBackgroundColor;
  //}
  > .RowFormDateTimeFieldView__time-box > .TimeBox2__input {
    background-color: @fieldDebugChangeBackgroundColor;
  }
}
