<div class="full">
    <div class="TabWidget full">
        <div>
            <% if (model.getClassName() === 'SqlDataSource') {  %>
                <div>
                    <div class="full flex-rows" style="background-color: #bbb;">
                        <div class="flex-min" style="background-color: white;padding: 5px;">
                            <button class="btn btn-default btn-xs btnSave">Save</button>
                            <div class="btn-group" role="group">
                                <button class="btn btn-xs btn-primary btnSingleQuery">singleQuery</button>
                                <button class="btn btn-xs btn-default btnMultipleQuery">multipleQuery</button>
                                <button class="btn btn-xs btn-default btnCountQuery">countQuery</button>
                            </div>
                        </div>
                        <div class="flex-max full" style="overflow: auto;">
                            <div class="cm-container full wndSingleQuery" style="display: none;">
                                <textarea class="cmSingleQuery"></textarea>
                            </div>
                            <div class="cm-container full wndMultipleQuery" style="display: none;">
                                <textarea class="cmMultipleQuery"></textarea>
                            </div>
                            <div class="cm-container full wndCountQuery" style="display: none;">
                                <textarea class="cmCountQuery"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            <div>
                <div class="full flex-rows" style="background-color: #bbb;">
                    <div class="flex-min" style="background-color: white;padding: 5px;">
                        <button class="btn btn-default btn-xs btnCreateController">Create</button>
                        <button class="btn btn-default btn-xs btnSaveController">Save</button>
                    </div>
                    <div class="flex-max full" style="overflow: auto;">
                        <div class="cm-container full wndBackendJs" style="display: none;">
                            <textarea class="cmBackendJs"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <% if (model.getClassName() === 'SqlDataSource') {  %>
                <li class="tabProperties">
                    <span>Properties</span>
                </li>
            <% } %>
            <li class="tabController">
                <span>Controller</span>
            </li>
        </ul>
    </div>
</div>
