.login {
  height: 100%;
}

.login__body {
  margin: 0;
  height: 100%;
  //background-color: #afd9ee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login__form {
  background-color: palegoldenrod;
  padding: 10px;
  border: solid 1px gray;
}
