////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login {
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background-color: #283858;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  grid-gap: 15px;
  width: 360px;
  border-radius: 12px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__title {
  text-align: center;
  padding: 20px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__field {
  border: none;
  font-size: 14px;
  border-bottom: 1px solid #ededed;
  height: 44px;
  &:focus {
    border-bottom: 1px solid #398bce;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__button {
  font-size: 14px;
  border: none;
  height: 44px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #398bce;
  color: white;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__button:hover {
  background-color: darken(#398bce, 10%);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__button:active {
  background-color: darken(#398bce, 20%);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.login__err-msg {
  color: red;
  font-size: 14px;
}
