.paging {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paging__countBlock {
  font-size: 14px;
}
.paging__gotoBlock {
  display: flex;
  select {
    height: 26px;
    margin: 0 5px;
    border: none;
  }
}
