@import "../style/application";

@backgroundColor: #fafafa;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.toolbar-dropdown-button {
  .DropdownButton__button {
    height: 30px;
    border: none;
    //background-color: @backgroundColor;
    background-color: unset;
    &:not(:disabled) {
      cursor: pointer;
      svg {
        fill: var(--accent-color);
      }
      &:hover {
        background-color: darken(@backgroundColor, 5%);
      }
      &:active {
        background-color: darken(@backgroundColor, 10%);
      }
    }
  }
}
