@highlightColor: #398bce;
@backgroundColor: #ddd;

.toolbar-button {
  //min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 3px;
  border: none;
  //background-color: @backgroundColor;
  background-color: unset;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  svg {
    fill: #333;
  }

  // regular style
  &:not(:disabled) {
    cursor: pointer;
    color: @highlightColor;
    &:hover {
      background-color: darken(@backgroundColor, 5%);
    }
    &:active {
      background-color: darken(@backgroundColor, 10%);
    }
  }
  &:disabled {
    svg {
      fill: #aaa;
    }
  }

  // default style
  &.default {
    color: white;
    background-color: @highlightColor;
    svg {
      fill: white;
    }
    &:hover {
      background-color: darken(@highlightColor, 10%);
    }
    &:active {
      background-color: darken(@highlightColor, 20%);
    }
    &:disabled {
      background-color: lighten(@highlightColor, 30%);
    }
  }

}
