@defaultBackgroundColor: #398bce;
@backgroundColor: #ddd;

.toolbar-button {
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 3px;
  border: none;
  background-color: @backgroundColor;
  height: 30px;
  svg {
    fill: #333;
  }

  // regular style
  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      background-color: darken(@backgroundColor, 5%);
    }
    &:active {
      background-color: darken(@backgroundColor, 10%);
    }
  }
  &:disabled {
    svg {
      fill: #aaa;
    }
  }

  // default style
  &.default {
    color: white;
    background-color: @defaultBackgroundColor;
    svg {
      fill: white;
    }
    &:hover {
      background-color: darken(@defaultBackgroundColor, 10%);
    }
    &:active {
      background-color: darken(@defaultBackgroundColor, 20%);
    }
    &:disabled {
      background-color: lighten(@defaultBackgroundColor, 30%);
    }
  }

}
