.DropdownButton {
    position: relative;
    display: inline-block;
}

.DropdownButton > button {
    /*border: none;*/
    /*padding: 10px;*/
}

.DropdownButton > ul {
    position: absolute;
    background-color: #eee;
    width: 100%;
    visibility: hidden;
}

.DropdownButton.show > ul {
    visibility: visible;
    padding: 0;
    margin: 0;
}

.DropdownButton > ul > li {
    display: block;
    padding: 10px;
}

.DropdownButton > ul > li:hover {
    background-color: #afd9ee;
    cursor: pointer;
}