////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormComboBoxFieldView {
    display: flex;
    /*&.error > .RowFormComboBoxFieldView__select {
        background-color: #f2dede;
    }*/
    &.error > .RowFormComboBoxFieldView__select > .Select__input {
        background-color: #f2dede;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*.RowFormComboBoxFieldView__select {
    width           : 100%;
    height          : 20px;
    border-width    : 0;
    padding         : 0;
    background-color: white;
    cursor          : pointer;
    &[disabled] {
        cursor          : default;
        background-color: lightgoldenrodyellow;
    }
}*/

.RowFormComboBoxFieldView__select {
    width: 100%;
    .Select__input {
        background-color: white;
        border          : none;
        height          : 20px;
        padding         : 0 5px;
        &[readonly] {
            background-color: lightgoldenrodyellow;
            color           : gray;
        }
        &[disabled] {
            cursor: text;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
button.RowFormComboBoxFieldView__edit-button {
    height          : 20px;
    border          : none;
    background-color: #ccc;
    &:hover:enabled {
        background-color: #ddd;
    }
    &:active {
        background-color: #bbb;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
button.RowFormComboBoxFieldView__create-button {
    height          : 20px;
    border          : none;
    background-color: #ccc;
    &:hover:enabled {
        background-color: #ddd;
    }
    &:active {
        background-color: #bbb;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.debug .RowFormComboBoxFieldView.changed > .RowFormComboBoxFieldView__select {
    background-color: rgb(238, 253, 234);
}
