@import "../../../../../style/field";
@buttonWidth: 25px;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormComboBoxFieldView {
    display: flex;
    &.error > .RowFormComboBoxFieldView__select > .Select__input {
        background-color: #f2dede;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormComboBoxFieldView__select {
    width: 100%;
    .Select__input {
        background-color: white;
        border          : none;
        height          : @fieldHeight;
        padding         : 0 5px;
        font-family: inherit;
        font-weight: inherit;
        font-size  : inherit;
        &[disabled] {
            background-color: @fieldDisableBackgroundColor;
            color           : gray;
            cursor          : text;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormComboBoxFieldView__edit-button {
    height          : @fieldHeight;
    border          : none;
    background-color: #ccc;
    width           : @buttonWidth;
    &:hover:enabled {
        background-color: #ddd;
    }
    &:active {
        background-color: #bbb;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormComboBoxFieldView__create-button {
    height          : @fieldHeight;
    border          : none;
    background-color: #ccc;
    width           : @buttonWidth;
    &:hover:enabled {
        background-color: #ddd;
    }
    &:active {
        background-color: #bbb;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.debug .RowFormComboBoxFieldView.changed > .RowFormComboBoxFieldView__select {
    background-color: @fieldDebugChangeBackgroundColor;
}
