.RowFormFileFieldView {
  background-color: #eee;
  &.editable {
    background-color: white;
    .RowFormFileFieldView__image-icon {
      cursor: pointer;
    }
    .RowFormFileFieldView__toolbar {
      margin-top: 5px;
    }
  }
}

.RowFormFileFieldView__image-block {
  position: relative;
  font-size: 10px;
}

.RowFormFileFieldView__image-icon {
  fill: #ccc;
  border: 6px solid #ccc;
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  border-radius: 5px;
}

.RowFormFileFieldView__image {
  width: 100%;
  display: block;
  cursor: zoom-in !important;
}

.RowFormFileFieldView__size {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: #eee;
}

.RowFormFileFieldView__length {
  position: absolute;
  bottom: 0;
  right:0;
  background-color: rgba(0,0,0,0.5);
  color: #eee;
}

.RowFormFileFieldView__toolbar {
  display: flex;
  input {
    display: block;
    flex-grow: 1;
  }
  button {
    display: block;
  }
}
