.DropdownDatePicker {
  position: relative;
  //display: inline-block;
  > input {
    width: 100%;
  }
  /*&.readOnly > input {
    background-color: lightgoldenrodyellow;
    color: gray;
  }
  &:not(.readOnly) > input {
    cursor: pointer;
  }*/
  > div.close {
    display: flex;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    right: 4px;
    cursor: pointer;
    visibility: hidden;
    &:hover svg line {
      stroke: black;
    }
    &.visible {
      visibility: visible;
    }
  }
  > .DatePicker {
    position: absolute;
    z-index: 101;
  }
}
