@activeColor: rgb(57,139,206);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab {
  display: flex;
  flex-direction: column;
  /*background-color: lightcoral;*/
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab__buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-shrink: 0;
  > li {
    float:left;
    background-color: #eee;
    margin-right: 1px;
    /*border-radius: 3px 3px 0 0;*/
    cursor: pointer;
    > span {
      margin          : 5px 10px 0 10px;
      display         : inline-block;
      max-width       : 300px;
      overflow        : hidden;
      white-space     : nowrap;
      text-overflow   : ellipsis;
      -moz-user-select: none;
    }
    > span.close {
      margin: 3px 10px 3px 0;
    }
  }
  > li.active {
    background-color: white;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab__page {
  display: none;
  &.active {
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab.Tab-blue > ul {
  > li {
    border-radius: 3px 3px 0 0;
  }
  > li.active {
    background-color: @activeColor;
    > span {
      color:white;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tab.Tab-blue > div {
  > div {
    box-sizing: border-box;
    border-top: 3px solid @activeColor;
  }
}
