.DatabaseView {
  height: 100%;
  background-color: white;
}
.DatabaseView .client {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 200px;
}
.DatabaseView .sidebar {
  background-color: lightgoldenrodyellow;
  position: absolute;
  width: 200px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
