////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormTextAreaFieldView {
    &.error > .RowFormTextAreaFieldView__textarea {
        background-color: #f2dede;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.RowFormTextAreaFieldView__textarea {
    width       : 100%;
    display     : block;
    border-width: 0;
    padding     : 0 5px 0 5px;
    font-family: inherit;
    font-weight: inherit;
    font-size  : inherit;
    &[readonly] {
        background-color: lightgoldenrodyellow;
        color           : gray;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.debug .RowFormTextAreaFieldView.changed > .RowFormTextAreaFieldView__textarea {
    background-color: rgb(238, 253, 234);
}
