.Image {

  cursor: pointer;
}

.Image_full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background-color: black;
  object-fit: contain;
  z-index: 100;
}