.paging {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paging__countBlock {
  font-size: 14px;
}

.paging__gotoBlock {
  display: flex;
  align-items: center;
  input {
    height: 26px;
    margin: 0 5px;
    border: none;
    width: 30px;
    text-align: right;
  }
}

.paging__framesCount {
  font-size: 14px;
  padding-right: 30px;
}
