.RowFormView {
  > .formGrid {
    display: grid;
    //grid-template-columns: 150px 1fr 24px 150px 1fr 24px;
    grid-template-columns: 150px 300px 24px 150px 300px 24px;
    //grid-template-columns: 100px 1fr 100px 1fr 100px 1fr;
  }
}
.standard .RowFormView {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(238,238,238);
  padding         : 10px;
  font-size       : small;
  > .toolbar {
    margin-bottom: 10px;
    button {
      margin-right: 5px;
    }
  }
  > .formGrid {
    grid-row-gap: 5px;
    //grid-column-gap: 5px;
    > div {
      &.label {
        margin-left: 5px;
        border-bottom: 1px dotted gray;
      }
      &.field {
        border-bottom: 1px dotted gray;
      }
      &.tooltip {
        margin-left: 5px;
      }
    }
  }
}
